.header-local-container {
    background-color: #cc0000;
    height: 20px;
}
.label-environment {
    color: #fff;
    font-size: 13px;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.padding-right-15 {
    padding-right: 15px;
}
.header-nav-container{
    background-color: #343434;
    height: 50px;
}
.toolbox-reset .nav > li > a:hover, .toolbox-reset .nav > li > a:focus {
    text-decoration: none;
    background-color: #cc0000;
}
.toolbox-reset .nav > li > a {
    color: #fff;
}
.carousel-caption h4{
    font-family: Arial;
    font-weight: normal;
    line-height: 1.1;
    color: #ffffff;
    margin: 0px;
    font-size: 72px;
    text-transform: uppercase;
}
@media screen and (min-width: 768px){
    .toolbox-reset .carousel-caption {
        padding-bottom: 30px;
        float: left;
        top: 14%;
        left: 20%;
    }
}
.toolbox-reset .carousel-caption{
    text-align: left;
}